# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos
.env
.env.*
venv/
env/

# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile

# Django
db.sqlite3
staticfiles/
media/

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db